{% extends "FarolaUserBundle::prelogin-base.html.twig" %}

{% block modal_title %}
    Reset password
{% endblock modal_title %}

{% block content %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock content %}
